/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}


/* === Font Styles === */

@font-face {
    font-family: "Eras Medium ITC","Eras ITC";
    src: url('fonts/pt-sans/PTS55F-webfont.eot');
    src: url('fonts/pt-sans/PTS55F-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/pt-sans/PTS55F-webfont.woff') format('woff'), url('fonts/pt-sans/PTS55F-webfont.ttf') format('truetype'), url('fonts/pt-sans/PTS55F-webfont.svg#PTSansRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* === General Styles === */

html,
div,
span,
head,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
font,
img,
small,
strong,
ol,
ul,
li {
    margin: -10px;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}
html,
div,
span,
head,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
font,
h1
{
    margin: 0px;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    background: transparent;
}

ol,
ul {    list-style: none }

blockquote,
q {    quotes: none }

body {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 1em;
    line-height: 1.4;
}

.container {
    width: 885px;
    height: 500px;
    margin: 0 auto;
}

#main {
    position: relative;
    background: url(../img/page_background.png) no-repeat scroll 0 0;
    margin: 0 auto;
    padding: 0;
    height: 300px;
    top: -150px;
}


/* === Header Styles === */


#text1 {
    position: relative;
    top: -50px;
    left: 60px;
    /*padding-top: 300px;*/
    padding-left: 100px;
    font-family: "Eras Medium ITC","Eras ITC";
    text-align: center;
    font-size: 30px;
    font-style: normal;
    font-weight: lighter;
    color: rgb(127,127,127);
    letter-spacing: 1px;
    margin-bottom: 15px;
}

#text2 {
    position: relative;
    top: -50px;
    /*left: 10px;*/
    /*padding-top: 300px;*/
    padding-left: 190px;
    font-family: "Eras Medium ITC","Eras ITC";
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: lighter;
    color: rgb(127,127,127);
    letter-spacing: 1px;
    margin-bottom: 15px;
}




#text2 h1 #special {
    display: inline;
    font-family: "Eras Demi ITC","Eras Medium ITC","Eras ITC";
    letter-spacing: 1px;
    font-size: 24px;
    font-style: bold;
    color: #ff670b;

}

#text2 h1 #two {
    display: inline;
    font-family: "Eras Demi ITC" , "Eras Medium ITC","Eras ITC";
    letter-spacing: 1px;
    font-size: 24px;
    color: #000000;
}
#header {
    margin: auto;
    margin-top: 80px;
    margin-bottom: 10px;
}

#logo {
    text-align: center;
    position: relative;
    float: center;
    /*padding-left: 42px;*/
    z-index: -5;
    top: 05px;
}

#text {
    top: 35px;
    position: relative;
    padding-left: 200px;
    font-family: "Eras Medium ITC","Eras ITC";

    font-size: 40px;
    text-align: center;
    margin-top: 20px;
    padding-bottom: 10px;
}

#text h1{
font-family: Jokerman;
color: rgb(0,0,0);
}





/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}
.address{
    display: block;
margin-bottom: 20px;
font-style: normal;
    /*text-align: center;*/
    margin-left: 418px;
    line-height: 30px;
    font-size: 16px;
    font-weight: normal;
}
/*#mail{
    margin-top: -10px;
}*/
.email {
    margin-top: 10px;
    display: inline-block;
    margin-left: 10px;
}
